
body {
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-basis: 50%;
  min-height: 21px;
}


#firstArticle{
  flex-basis: 50%;
  border: 5px solid red;
}

#secondArticle {
  flex-basis: 50%;
  border: 5px solid darkblue;
}

input {
  margin: 20px;
  border: 2px solid black;
  background-color: blueviolet
}



/* display: flex;
  flex-direction: row; */